*~
*.o
.deps/
doc/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
stamp-h1
missing
showtest
simtest
showsim
shownetwork
lane-test
interval-test
xml-test
libhwm.a